{% import styles from "./price.css" %}
{% import price from "./price.js" %}

{% props {
  price: Money.required(),
  compare_at_price: Money.optional(),
  show_compare_at: boolean.default(true),
} %}

<span class="{{ styles.price }}" data-price>
  <span class="{{ styles.price__current }}">{{ props.price | money }}</span>

  {% if props.show_compare_at and props.compare_at_price and props.compare_at_price > props.price %}
    <s class="{{ styles.price__compare }}">{{ props.compare_at_price | money }}</s>
  {% endif %}
</span>
